openapi: 3.0.0
info:
  description: |
    # INTRODUCTION
    Most countries have well-established Know Your Customer (KYC) rules that specify identification, due diligence and risk assessment procedures for analyzing clients. However, many of these regulations are more appropriate for yesterday’s consumer.
    Today's digital savvy, mobile-first consumer expects to consume content and transact in real-time, therefore, requiring them to visit a retail store or branch to prove their identity in person will result in cart abandonment or loss of transaction to another merchant that can satisfy their expectations.
    New KYC guidelines and regulations are required to keep pace with the reality of digital transactions. While modifying laws to make them more applicable is possible, many countries have established eKYC (electronic Know Your Customer) regulations for the digital and mobile realities of today.

    # EKYC V3.2
    API include [Face Verification](), [Face Recognition](), [Face Register](), [Face Delete](), [Ocr Recognition]().A facial recognition system is a technology capable of identifying or verifying a person from a digital image or a video frame from a video source.
    Verification is the foundation of Authentication.
    The process is built out to increase the level of scrutiny applied to obtain the credential.
    For instance, Authentication requires the user to provide information only known to that individual, like the answer to a predetermined question or details around recent transactions.
    [Face Recognition]() the process computer software performs to make a positive identification of a face in a photo or video image against a pre-existing database of faces.

    # AUTHENTICATION
    Ekyc offers one forms of authentication:
      - API Key
  version: 3.x.x
  title: EKYC DOCUMENT API
  contact:
    name: Contact support
    email: contact@vvn.vn
    url: https://vvn.vn/
  license:
    name: EKYC 3.0
    url: https://demo.cloudekyc.com/
servers:
  - description: Entrypoint
    url: https://api.cloudekyc.com
tags:
  - name: v3.2
    description: API V3.2
paths:
  /v3.2/faceid/verification:
    post:
      operationId: newFaceIDVerification
      summary: FACE VERIFICATION
      description: >
        Face verification is the task of comparing a candidate face to another, and verifying whether it is a match.
        It is a one-to-one mapping: you have to check if this person is the correct one
      tags:
        - v3.2
      security:
        - api_key: []
      requestBody:
        $ref: '#/components/requestBodies/VerificationRequest'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResult'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayError'
  /v3.2/ocr/recognition:
    post:
      operationId: newOCRRecognition
      summary: OCR RECOGNITION
      description: >
        Cung cấp phương thức để trích xuất thông tin trên các văn bản tài liệu như:
        Giấy phép lái xe (GPLX), Passport, CMND, Căn cước công dân (CCCD) ...
      tags:
        - v3.2
      security:
        - api_key: []
      requestBody:
        $ref: '#/components/requestBodies/OCRRequest'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OCRResult'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayError'
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: key
      in: header
  schemas:
    GatewayError:
      type: object
      required:
        - message
      description: >
        Thông báo lỗi trả về từ Gateway
      properties:
        message:
          type: string
          description: Thông điệp lỗi
    OCRInput:
      type: object
      required:
        - image
        - request_id
      properties:
        request_id:
          x-go-name: RequestID
          type: string
        image:
          x-go-name: Image
          type: string
          format: binary
        id_full_thr:
          x-go-name: IDFullThreshold
          type: number
          format: float
          minimum: 0
          maximum: 1
          default: 0.8
          description: >
            Giá trị ngưỡng để kiểm tra id_full về mặt đầy đủ thông tin công dân, CMND..)
            yêu cầu request_id của mặt trước và hay không
    OCRResult:
      type: object
      properties:
        document:
          type: string
          description: >
            Thông tin mô tả các loại giấy tờ:
              * `CCCD` - (Căn cước công dân)
              * `NEW ID` - (CMT 12 số)
              * `OLD ID` - (CMT 9 số)
              * `PASSPORT`
              * `DRIVER LICENSE OLD`
              * `DRIVER LICENSE PET`
              * `CHIP ID`
              * `POLICE ID`
              * `ARMY ID`

            *Chú ý*: Không phân biệt được mặt sau của CMT 12 số và CCCD
            -> mặt sau của 2 loại giấy tờ này hoàn toàn giống nhau về mặt hình ảnh và ý nghĩa
          enum:
            - CCCD
            - NEW ID
            - OLD ID
            - PASSPORT
            - DRIVER LICENSE OLD
            - DRIVER LICENSE PET
            - CHIP ID
            - POLICE ID
            - ARMY ID
        result_code:
          type: integer
          description: Mã kết quả
          enum:
            - 200 # OK
            - 500 # Internal error
            - 501 # Not active server
            - 401 # Sai api-key
            - 402 # ID blur or covered
            - 201 # Wrong passport format
        server_name:
          type: string
          description: container id
        server_ver:
          x-go-name: ServerVersion
          type: string
          description: server version
        id_check:
          x-go-name: IDCheck
          type: string
          description: >
            Kết quả kiểm tra văn bản:
              * `FAKE` - giả mạo
              * `CONER`
              * `REAL` - giấy tờ thực
              * `PUNCH` - Đục lỗ
              * `BW` - photocopy đen trắng
              * `REAL` - giấy tờ OK
          enum:
            - BW
            - CONER
            - FAKE
            - PUNCH
            - REAL
        id_full:
          x-go-name: IDFull
          type: integer
          description: >
            Check xem giấy tờ có full về mặt THÔNG TIN hay không
              * `1` - Full
              * `0` - Không full; bị chụp thiếu

            Note: trường hợp số ID bị che (dẫn tới score < id_full_thr (mặc định 0.8) --> not full)
            Giấy tờ có thể không đầy đủ về mặt hình ảnh(ví dụ không có hình ảnh khuôn mặt), nhưng nếu vẫn đầy đủ thông tin -- > id_full =1
        id_logic:
          x-go-name: IDLogic
          type: string
          description: >
            ID logic:
              * `0` - check not OK
              * `1` - check OK
        id_logic_message:
          x-go-name: IDLogicMessage
          type: string
          description: >
            Nội dung kiểm tra logic:
              * `OK` - logic trên giấy tờ đúng theo quy định
              * `ID is expired` - giấy tờ đã hết hạn
              * `Not match province code` - sai mã tỉnh
              * `Not match sex code` - Giới tính trên giấy tờ và trong số ID không trùng khớp
              * `Not match year code` - Năm sinh trên giấy tờ và trong số ID không trùng khớp
              * `Expiry subtract birthday not good` - Ngày tháng năm sinh và ngày tháng hết hạn không hợp lệ (đối với CCCD; ngày hết hạn là khi công dân đủ 25, 40, 60 tuổi hoặc không có thời hạn)
              * `ID can be fake` - trường hợp có thể đang bị giả mạo về chữ "CĂN CƯỚC CÔNG DÂN/CHỨNG MINH NHÂN DÂN" đối với giấy tờ thẻ cứng
        id_type:
          x-go-name: IDType
          type: string
          description: >
            Phân biệt mặt trước/mặt sau:
              * `0` - mặt trước
              * `1` - mặt sau

        # Data with confidence value
        id:
          x-go-name: ID
          type: string
        idconf:
          x-go-name: IDConfidence
          type: string
          description: >
            Độ tin tưởng của trường ID (là chuỗi string của 1 mảng các giá trị float từ 0-1)

            *Chú ý*: độ tin tưởng của ký tự bất kì < 0.8
            --> cảnh báo đầu vào kém
        name:
          type: string
          description: Tên khách hàng trên giấy tờ
        nameconf:
          x-go-name: NameConfidence
          type: string
          description: >
            Độ tin tưởng trường họ tên (là chuỗi string của 1 mảng các giá trị float từ 0-1)
        birthday:
          type: string
          description: Ngày sinh
        birthdayconf:
          x-go-name: BirthdayConfidence
          type: string
          description: >
            Độ tin tưởng trường ngày tháng năm sinh (là chuỗi string của 1 mảng các giá trị float từ 0-1)
        sex:
          type: string
          description: Giới tính
        sexconf:
          x-go-name: SexConfidence
          type: string
          description: >
            Độ tin tưởng trường giới tính (là chuỗi string của 1 mảng các giá trị float từ 0-1)
        hometown:
          type: string
          description: Nguyên quán
        hometownconf:
          x-go-name: HometownConfidence
          type: string
          description: >
            Độ tin tưởng trường nguyên quán (là chuỗi string của 1 mảng các giá trị float từ 0-1)
        address:
          type: string
          description: Địa chỉ thường trú
        addressconf:
          x-go-name: AddressConfidence
          type: string
          description: >
            Độ tin tưởng trường địa chỉ thường trú (là chuỗi string của 1 mảng các giá trị float từ 0-1)
        expiry:
          type: string
          description: >
            Thời hạn giấy tờ (Với BLX có trường hợp không thời hạn).
            Chú ý: trường ngày hết hạn có dạng dd-mm-yyyy hoặc Không thời hạn
            --> nếu không phù hợp với các dạng này(bị che, tẩy xóa)
            --> giá trị nhận dạng là N/A
        expiryconf:
          x-go-name: ExpiryConfidence
          type: string
          description: >
            Độ tin tưởng của trường hết hạn (là chuỗi string của 1 mảng các giá trị float từ 0-1)
        religion:
          type: string
          description: Tôn giáo
        religionconf:
          x-go-name: ReligionConfidence
          type: string
          description: 
            Độ tin tưởng của trường tôn giáo (là chuỗi string của 1 mảng các giá trị float từ 0-1)
        issue_date:
          type: string
          description: >
            Ngày cấp
            *Chú ý*: trường ngày cấp có dạng dd-mm-yyyy
            --> nếu không phù hợp với các dạng này(bị che, tẩy xóa)
            --> giá trị nhận dạng là N/A
        issue_date_conf:
          x-go-name: IssueDateConfidence
          type: string
          description: >
            Độ tin tưởng của trường ngày cấp (là chuỗi string của 1 mảng các giá trị float từ 0-1)
        issue_by:
          type: string
          description: Nơi cấp
        issue_by_conf:
          x-go-name: IssueByConfidence
          type: string
          description: >
            Độ tin tưởng của trường nơi cấp (là chuỗi string của 1 mảng các giá trị float từ 0-1)
        ethnicity:
          type: string
          description: Dân tộc
        ethnicityconf:
          x-go-name: EthnicityConfidence
          type: string
          description: >
            Độ tin tưởng của trường dân tộc (là chuỗi string của 1 mảng các giá trị float từ 0-1)
        characteristics:
          type: string
          description: Đặt điểm
        characteristics_conf:
          x-go-name: CharacteristicsConfidence
          type: string
          description: >
            Độ tin tưởng của trường đặt điểm (là chuỗi string của 1 mảng các giá trị float từ 0-1)

        street:
          type: string
          description: Đường phố
        street_name:
          type: string
          description: Tên đường
        country:
          type: string
          description: Quốc gia
        national:
          type: string
          description: Quốc gia
        class:
          type: string
          description: Loại BLX
        optinal_data:
          type: string
          description: >
            Chỉ có ý nghĩa với passport. Số CMT của Vietnam
        passport_type:
          type: string
          description: Loại Passport (công vụ/thường - PK/P)
        province:
          type: string
          description: Tỉnh/TP
        district:
          type: string
          description: Quận/Huyện
        precinct:
          type: string
        optional_data:
          type: string
        copyright:
          type: string
    FaceAntiSpoofStatus:
      type: object
      description: >
        Thông tin đánh giá giả mạo khuôn mặt. Có thể kiểm tra thêm
        3 random pose hoặc 3 ảnh thẳng mặt liên tiếp.
        ```
        {
          "fake_code": "REAL",
          "fake_score": 0.0,
          "status": "REAL",
          "liveness_compare_scores": [float]
        }
        ```
      properties:
        status:
          type: string
          enum:
            - FAKE
            - REAL
        fake_code:
          type: string
          enum:
            - FAKE
            - REAL
        fake_score:
          type: number
          minimum: 0
          maximum: 1
          description: >
            Mức độ giả mạo ảnh chụp chân dung, khoảng giá trị [0-1.0]:
              - 1.0: ảnh giả
              - 0.0: ảnh thật

            NOTE: By our experiments, threshold to judge an image is fake is fake_score > 0.63
        fake_type:
          type: string
          description: >
            Trả về loại lỗi giả mạo
              * `N/A` - ảnh selfie là ảnh thật
              * `SCREEN` - ảnh chụp lại từ màn hình
              * `RANDOM_POSE` - ảnh giả mạo do kiểm tra với 3 ảnh chụp quay các hướng
              * `STRAIGHT_POSE` - ảnh giả mạo do kiểm tra 3 ảnh chụp thẳng liên tiếp
          enum:
            - N/A # ảnh selfie là ảnh thật
            - SCREEN # ảnh chụp lại từ màn hình
            - RANDOM_POSE # ảnh giả mạo do kiểm tra với 3 ảnh chụp quay các hướng
            - STRAIGHT_POSE # ảnh giả mạo do kiểm tra 3 ảnh chụp thẳng liên tiếp
        liveness_compare_scores:
          type: string
          description: >
            Trả về khi check_3_random_pose==1.
            Score matching giữa ảnh live với 3 ảnh đưa vào kiểm tra
    VerificationMessage:
      type: object
      required:
        - error_code
        - error_message
      description: >
        Thông tin thêm về kết quả trả về. Ví dụ:
        ```{"api_version": 1.0.4, "error_message": "000", "error_code": "OK"}```
      properties:
        api_version:
          x-go-name: APIVersion
          type: string
          description: API version
        error_code:
          type: string
          description: Mã lỗi
        error_message:
          type: string
          description: Mô tả lỗi
    VerificationInput:
      type: object
      required:
        - request_id
        - image_card
        - image_live
      properties:
        request_id:
          x-go-name: RequestID
          type: string
          description: Request ID
        image_card:
          type: string
          format: binary
          description: Ảnh card id (chứng minh thư, căn cước công dân) của người dùng
        image_live:
          type: string
          format: binary
          description: Ảnh chụp khuôn mặt
        image_live1:
          type: string
          format: binary
          description: >
            Ảnh chụp khuôn mặt ở các góc độ khác nhau để tăng độ chính xác khi xác thực khuôn mặt
        image_live2:
          type: string
          format: binary
          description: >
            Ảnh chụp khuôn mặt ở các góc độ khác nhau để tăng độ chính xác khi xác thực khuôn mặt
        image_live3:
          type: string
          format: binary
          description: >
            Ảnh chụp khuôn mặt ở các góc độ khác nhau để tăng độ chính xác khi xác thực khuôn mặt
        check_3_random_pose:
          x-go-name: Check3RandomPose
          type: integer
          description: Kiểm tra các ảnh live image có phải cùng một khuôn mặt hay không
        check_3_straight_pose:
          x-go-name: Check3StraightPose
          type: integer
          description: Kiểm tra các ảnh khuôn mặt có fake hay không
        return_feature:
          type: integer
          description: Trả về face feature vector hay không
        mask_threshold:
          type: number
          minimum: 0
          maximum: 1
          description: Threshold để kiểm tra xem có đeo khẩu trang hay không
        fake_threshold:
          type: number
          minimum: 0
          maximum: 1
          description: Giá trị dùng để check xem khuôn mặt live có phải fake
        sim_threshold_level1:
          type: number
          minimum: 0
          maximum: 1
          default: 0.60
          description: >
            độ tương đồng <= sim_threshold_level1
            => không cùng 1 người
            sim_threshold_level1 < độ tương đồng < sim_threshold_level2
            ==> có thể cùng 1 người
            độ tương đồng >= sim_threshold_level2
            ==> cùng 1 người
        sim_threshold_level2:
          type: number
          minimum: 0
          maximum: 1
          default: 0.75
          description: >
            độ tương đồng <= sim_threshold_level1
            => không cùng 1 người
            sim_threshold_level1 < độ tương đồng < sim_threshold_level2
            ==> có thể cùng 1 người
            độ tương đồng >= sim_threshold_level2
            ==> cùng 1 người
    VerificationResult:
      type: object
      required:
        - message
        - request_id
      properties:
        message:
          $ref: '#/components/schemas/VerificationMessage'
        request_id:
          x-go-name: RequestID
          type: string
          description: Request ID
        verify_result:
          type: integer
          enum: [0, 1, 2]
          description: >
            Kết quả xác thực dạng số:
             * `0` - not same
             * `1` - may be same
             * `2` - same person
        verify_result_text:
          type: string
          description: Kết quả xác thực dạng text
        sim:
          type: number
          description: Độ tương đồng của ảnh khuôn mặt từ thẻ và ảnh chân dung [0-1]
          minimum: 0
          maximum: 1
        face_loc_card:
          type: array
          description: >
            Vị trí của khuôn mặt detect được trong ảnh card id.
            Format: [left, top, right, bottom]
          items:
            type: integer
          minItems: 4
          maxItems: 4
        face_card_angle:
          type: integer
          description: Góc nghiêng của khuôn mặt ở ảnh card id.
        face_loc_live:
          description: >
            Vị trí của khuôn mặt detect được trong ảnh chụp chân dung.
            Format: [left, top, right, bottom]
          type: array
          items:
            type: integer
          minItems: 4
          maxItems: 4
        face_live_angle:
          type: integer
          description: Góc nghiêng của khuôn mặt ở ảnh chụp chân dung.
        feature_vector_face_card:
          type: array
          items:
            type: number
          minItems: 512
          maxItems: 512
          description: Feature vector của khuôn mặt ở ảnh thẻ
        feature_vector_face_live:
          type: array
          items:
            type: number
          minItems: 512
          maxItems: 512
          description: Feature vector của khuôn mặt ở ảnh chụp chân dung
        face_anti_spoof_status:
          $ref: '#/components/schemas/FaceAntiSpoofStatus'
        verification_time:
          type: integer
          description: Thời gian thực hiện việc xác thực ở phía server (đơn vị mili giây - ms)
        wearing_mask:
          type: string
          enum:
            - 'YES'
            - 'NO'
        wearing_mask_score:
          type: number
          minimum: 0
          maximum: 1
          description: >
            Điểm score khi nhận dạng khẩu trang, điểm càng cao thì
            độ tin tưởng đeo khẩu trang càng lớn score trong khoảng [0-1]
  requestBodies:
    OCRRequest:
      required: true
      content:
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/OCRInput'
    VerificationRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VerificationInput'
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/VerificationInput'
